 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 body{
    background-image: url(assets/bg-mobile.svg);
    background-repeat: no-repeat;
    background-color:hsl(257, 40%, 49%) ;
    background-size: cover;
    background: url(assets/bg-mobile.svg)no-repeat hsl(257, 40%, 49%) cover; 


 }
 /* utils */
 .container{
    width: 90%;
    margin: auto;
 }
 /* nav styling */
 
 nav img{
    width: 41%;

 }

 nav{
    padding-top: 2rem;
 }
 /* header styling */
 header{
    margin-top: 30px;
    /* height: 29rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
 }
 header img{
    max-width: 92%;
 }
 .header-inner{
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .header-inner h2{
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 90%;

 }
 .header-inner p{
    color: rgb(217, 211, 211);
    font-family: 'open sans', sans-serif;

    /* text-align; center */
 }
 .header-inner button{
    width: 70%;
    height: 2rem;
    margin: auto;
    margin-bottom: 50px;
    border: none;
    border-radius: 2rem;
    color:hsl(300, 69%, 71%) ;
    box-shadow: 1px 2px 5px rgb(70, 68, 68);
 }
 .footer-image{
    width: 18px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 8px;
   
 }

 @media(min-width:1024px){
    body{
        background: url(assets/bg-desktop.svg)no-repeat hsl(257, 40%, 49%) 

    }
    /* header styling */
    nav img{
        width: 18%;
    }
    .header{
        flex-direction: row;
    
    }
    .header-inner{
        text-align: start;
    }
    .header-inner button{
        margin: 0;
        width: 30%;
        color:hsl(257, 40%, 49%)  ;

    }
    .header img{
        width: 57%;
    }
    .header-inner{
        text-align: start;
        width: 40%;

    
    }
    .header-inner h2{
        width: 70%;
        font-size: 2rem;
        text-align: start;
    }

 }
